.templateColumns
  table.inverted.dark(border=0 cellpadding=0 cellspacing=0 width='100%')
    tr
      td.templateColumnContainer(align='center' valign='top' width='70%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent
            .push
              a(href='https://www.instagram.com/akerkits' target='_blank')
                img(src=ASSET_INSTAGRAM_URL width=20 height=20 valign='middle')
              |&nbsp;&nbsp;&nbsp;
              a(href='https://twitter.com/akerkits' target='_blank')
                img(src=ASSET_TWITTER_URL width=19 height=16 valign='middle')
              |&nbsp;&nbsp;&nbsp;
              a(href='https://www.facebook.com/akerkits' target='_blank')
                img(src=ASSET_FACEBOOK_URL width=9 height=18 valign='middle')
              |&nbsp;&nbsp;&nbsp;
              a(href='mailto:*|LIST:ADDRESS|*' target='_blank')
                img(src=ASSET_EMAIL_URL width=20 height=14 valign='middle')

            .push
              p Come chat with us on our #[a(href='https://community.akerkits.com/' target='_blank') Community Forum].

              if unsubscribe
                p To unsuscribe from this digest, #[a(href='*|UNSUB|*' target='_blank') click here].
              else
                p To manage email notifications, #[a(href='*|UPDATE_PROFILE|*' target='_blank') click here].

      td.templateColumnContainer(align='center' valign='top' width='30%')
        table(border=0 cellpadding=0 cellspacing=0 width='100%')
          tr: td.columnContent
            .push.centered
              a(href='*|LIST:URL|*' target='_blank')
                img(src=ASSET_KITS_URL width=121 height=86)
